<div class="content">
  <div class="left">
    <form>
      <h2><label for="characterName">Character Name:</label></h2>
      <input type="text" id="characterName" name="characterName">

      <img src="placeholder.jpg" alt="Placeholder Image">

      <h2><label for="age">Age:</label></h2>
      <input type="text" id="age" name="age">

      <h2><label for="location">Location/School:</label></h2>
      <input type="text" id="location" name="location">

      <h3><label for="alignment">Alignment</label></h3>
      <div class="select">
        <select name="alignment" id="align-select">
          <option value="lawfull-good">Lawful Good</option>
          <option value="netural-good">Neutral Good</option>
          <option value="chaotic-good">Chaotic Good</option>
          <option value="lawfull-netural">Lawful Neutral</option>
          <option value="true-netural">True Neutral</option>
          <option value="chaotic-netural">Chaotic Neutral</option>
          <option value="lawful-evil">Lawful Evil</option>
          <option value="neutral-evil">Neutral Evil</option>
          <option value="chaotic-evil">Chaotic Evil</option>
        </select>
      </div>

      <label for="bio">Bio:</label>
      <textarea id="bio" name="bio"></textarea>
    </form>
  </div>
  
  {{!-- Will fix later --}}
  <div class="right">
    <div class="stats">
      Stats:

      <div class="columns">
        <div class="column">

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

        </div>

        <div class="column">

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

        </div>

        <div class="column">

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

          <section>
            <div class="select">
              <select name="stats" id="stat-select">
                <option value="">Potions</option>
                <option value="">Herbology</option>
                <option value="">Charms</option>
                <option value="">Flying</option>
                <option value="">Defense Against the Dark Arts</option>
                <option value="">Dark Arts</option>
                <option value="">Divination</option>
                <option value="">Transfiguration</option>
                <option value="">Magical Creatures</option>
                <option value="">Astrology</option>
              </select>
            </div>
            <input type="text" id="level" name="level" placeholder="level">
          </section>

        </div>

      </div>


      {{!-- {{#each stats}}
      <label for="{{name}}">{{name}}:</label>
      <select id="{{name}}">
        {{#each options}}
        <option value=></option>
        {{/each}}
      </select>
      <input type="text" placeholder="Level">
      {{/each}} --}}

      <div class="abilities">
        Abilities:
        {{#each abilities}}
        <input type="text" placeholder="{{this}}">
        {{/each}}
      </div>

      <div class="skills">
        Skills:
        {{#each skills}}
        <input type="text" placeholder="{{this}}">
        {{/each}}
      </div>
    </div>
  </div>