<div class="navbar">
  <button id="homeBtn">Return Home</button>
  <button id="logoutBtn" class="right">Log Out</button>
</div>

<div class="content">
  <div class="left">
    <form>
      <label for="characterName">Character Name:</label>
      <input type="text" id="characterName" name="characterName">
      <img src="placeholder.jpg" alt="Placeholder Image">
      <label for="age">Age:</label>
      <input type="text" id="age" name="age">
      <label for="location">Location/School:</label>
      <input type="text" id="location" name="location">

          <div class="select">
            <select name="alignment" id="align-select">
              <option value="lawfull-good">Lawful Good</option>
              <option value="netural-good">Neutral Good</option>
              <option value="chaotic-good">Chaotic Good</option>
              <option value="lawfull-netural">Lawful Neutral</option>
              <option value="true-netural">True Neutral</option>
              <option value="chaotic-netural">Chaotic Neutral</option>
              <option value="lawful-evil">Lawful Evil</option>
              <option value="neutral-evil">Neutral Evil</option>
              <option value="chaotic-evil">Chaotic Evil</option>
            </select>
          </div>

      <label for="bio">Bio:</label>
      <textarea id="bio" name="bio"></textarea>
    </form>
  </div>
  {{!-- Will fix later --}}
  <div class="right">
    <div class="stats">
      Stats:
      {{#each stats}}
      <label for="{{name}}">{{name}}:</label>
      <select id="{{name}}">
        {{#each options}}
        <option value=></option>
        {{/each}}
      </select>
      <input type="text" placeholder="Level">
      {{/each}}
    </div>

    <div class="abilities">
      Abilities:
      {{#each abilities}}
      <input type="text" placeholder="{{this}}">
      {{/each}}
    </div>

    <div class="skills">
      Skills:
      {{#each skills}}
      <input type="text" placeholder="{{this}}">
      {{/each}}
    </div>
  </div>
</div>