<div class="box">{{> navbar}}</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/profile.css">
<div style='margin-top: 40px;'>
    <h1 class="box">{{name}}</h1>
    <div class="box columns">
        <img class="box column is-4 ex-object-fit op-top" src="{{image}}">
        <div class="box column margin"><strong>Skills: </strong><hr>
        {{#each skills as |skill|}}
        <p>{{skill.name}}</p>
        {{/each}}
        </div>
        <div class="box column"><strong>Stats: </strong><hr>
        {{#each stats as |stat|}}
        <p>{{stat.name}}: {{stat.level}}</p>
        {{/each}}
        </div>
    </div>
    <h2 class="box tile">Bio: {{bio}}</h2>
</div>
